@tailwind base;
@tailwind components;
@tailwind utilities;
html,
body {

  min-height: 100vh;
}

input {
  @apply border;
  @apply border-solid;
  @apply border-gray-300;
  /* @apply rounded-md; */
  @apply px-4;
  @apply py-2;
}

.border-hairline {
  @apply border border-black border-opacity-10;
}

.button {
  @apply bg-white text-black rounded-md inline-block px-5 py-4 w-full text-center;
  text-transform: uppercase;
  font-size: 20px;
}

.image-wrapper {
  width: 100%;
  aspect-ratio: 1 / 1;
  position: relative;
}
